<!DOCTYPE html>
<html>

<head>
    <link href="css/homeStyle.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script src="{% static "js/home.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <title>Document</title>
</head>

<body>
    <!--barra de navegacion-->
    <div class="container">
        <nav>
            <div class="nav-wrapper black">
                <img src="images/logo1.png" class="logo">
                <a href="" class="brand-logo">GYM</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Information</a></li>
                    <li><a href="login.html">Log in</a></li>
                    <li><a href="register.html">Sign up</a></li>
                </ul>
            </div>
        </nav> <br><br>
    </div>

    <div class="container">
        <div class="row">
            <!--card1-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/dumbells.jpg" class="responsive-img">
                        <span class="card-title">Dumbells</span>
                    </div>
                    <div class="card-content black">
                        <p class="white-text"> Is the use of progressive resistance exercise to control
                            and develop one's musculature for aesthetic purposes.
                            <br><br>
                        </p>
                    </div>
                    <div class="card-action black">

                        <a href="register.html">Subscribe</a>
                    </div>
                </div>
            </div>
            <!--card2-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/crossfit.jpg" class="responsive-img">
                        <span class="card-title">Crossfit</span>
                    </div>
                    <div class="card-content black">
                        <p class="white-text">Is promoted as both a physical exercise philosophy and a competitive
                            fitness sport, incorporating elements from high-intensity interval training.</p>
                    </div>
                    <div class="card-action black">

                        <a href="register.html">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--card3-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/cardio.jpg" class="responsive-img">
                        <span class="card-title">Aerobic</span>
                    </div>
                    <div class="card-content black">
                        <p class="white-text">Is physical exercise of low to high intensity that depends primarily on the aerobic
                             energy-generating process. </p>
                    </div>
                    <div class="card-action black">

                        <a href="register.html">Subscribe</a>
                    </div>
                </div>
            </div>
            <!--card4-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/calisthenic1.jpg" class="responsive-img">
                        <span class="card-title">Calisthenics</span>
                    </div>
                    <div class="card-content black">
                        <p class="white-text">Is a form of exercise consisting of a variet
                            y of gross motor movements—running, standing, grasping, pushing, etc.
                        </p>
                    </div>
                    <div class="card-action black">

                        <a href="register.html">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <p class="grey-text text-lighten-4">
                        <i class="material-icons prefix logo">mail</i>
                        nameGym@hotmail.com
                        <br>
                    </p>
                    <p class="grey-text text-lighten-4">
                        <i class="material-icons prefix logo">location_on</i>
                        Av.america y C.Pando
                        <br>
                    </p>
                    <p class="grey-text text-lighten-4 ">
                        <i class="material-icons prefix logo">phone</i>
                        4765495
                    </p>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Also find us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Santa Cruz </a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">La Paz </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
            </div>
        </div>
    </footer>



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>